/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #ffeff8;
  --accent-color: #ff8dcb;
  --color-hover: #353430;
  --color-hover-alpha: rgba(50, 49, 45, 0.5);
  --title-color: #353430;
  --shadow-color: #ff0070;
  --header-color: #ffc2e6;
  --text-color: #353430;
  --subtitle-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --background-color: #ffeff8;
    --accent-color: #ff8dcb;
    --color-hover: #353430;
    --color-hover-alpha: rgba(50, 49, 45, 0.5);
    --title-color: #353430;
    --shadow-color: #ff0070;
    --header-color: #ffc2e6;
    --text-color: #353430;
    --subtitle-color: #353430;
  }
}

.page.theme_light .header-rec {
  display: none;
}
