/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --background-image: url(../images/cover-image-light.png);
  --main-font: "IBM Plex Mono";
  --text-color: #353430;
  --main-color: #ff8dcb;
  --accent-color: #353430;
  --title-color: #ffc2e6;
  --menu-color: #353430;
  --shadow-color: #ff0070;
  --dec-color: #353430;
  --h2-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --main-font: "IBM Plex Mono";
    --text-color: #353430;
    --main-color: #ff8dcb;
    --accent-color: #353430;
    --title-color: #ffc2e6;
    --menu-color: #353430;
    --shadow-color: #ff0070;
    --dec-color: #353430;
    --h2-color: #353430;
  }
}

.page.theme_light .decorative-rec-icon {
  display: none;
}
