/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* пробую mobile-first */

.page {
  color: var(--text-color);
  font-family: IBM Plex mono, Arial, sans-serif;
  font-size: 18px;
  line-height: 130%;
  background: var(--background-color) var(--background-image) no-repeat center /
    cover fixed;
}

/* header */

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  margin-block-end: 40px;
  padding: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--title-color);
  border-block-start: 1px solid var(--title-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--title-color);
  border-block-end: 1px solid var(--title-color);
}

.header-rec {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  top: 10px;
  right: 19px;
  color: var(--accent-color);
  line-height: 25px;
  text-transform: uppercase;
}

.header-rec::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 100%;
  fill: #ff0070;
  box-shadow: 0 0 4px 2px #ff0070;
  background-color: var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  padding: 65px 0;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: var(--title-color);
  line-height: 18px;
}

.header__theme-menu-button {
  border: none;
  padding: 1.5px 13px;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.5s;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--color-hover);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-hover);
  pointer-events: none;
}

.main__title {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header-color);
  line-height: 82.5%;
}

.header__title {
  margin-inline-start: 0px;
  text-shadow: 4px 4px 0px var(--shadow-color);
}

.header__text {
  margin: auto 0;
  color: var(--subtitle-color);
}

.accent__text {
  font-weight: 700;
  background-color: var(--accent-color);
}

/* main */

main {
  padding: 0px 10px;
}

.section {
  margin-block-end: 50px;
}

.h__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: inherit;
  margin-block-end: 20px;
}

.card {
  margin-block-end: 20px;
}

.card:last-child {
  margin-block-end: 0px;
}

.card__title {
  margin-block-end: 10px;
  color: var(--subtitle-color);
  font-weight: 700;
  font-size: inherit;
}

.link {
  text-shadow: 1px 1px 0px var(--accent-color);
  text-decoration: none;
  outline: none;
}

.link:hover {
  text-decoration: none;
  border-bottom: 1px solid var(--text-color);
}

.link:focus {
  outline: 1px solid var(--text-color);
  border-bottom: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.thin {
  font-weight: normal;
}

.subtitle {
  color: var(--subtitle-color);
}

.images {
  margin-block-end: 40px;
}

.gallery__image {
  display: block;
  width: 100%;
  height: 100%;
  margin-block-end: 10px;
  object-fit: cover;
  object-position: center;
}

.gallery__image:last-child {
  margin-block-end: 0;
}

.images__title {
  margin-block-end: 10px;
  color: var(--subtitle-color);
  font-weight: 700;
  font-size: inherit;
}

/* footer */

.footer {
  position: relative;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.footer__title {
  padding: 276px 0px;
  text-align: center;
  text-shadow: 2px 2px 0px var(--shadow-color);
}

/* медиазапросы */

@media (width >= 768px) {
  .header,
  .footer {
    min-height: 1024px;
    padding: 20px;
  }

  .header {
    margin-block-end: 60px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .header-rec {
    top: 20px;
    right: 29px;
  }

  .header__theme-menu {
    padding: 173px 0;
  }

  .header__theme-menu-button:hover {
    border: 1px solid var(--color-hover-alpha);
  }

  .header__theme-menu-button:focus {
    border: none;
    border-bottom: 0.5px solid var(--color-hover);
    outline: none;
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--color-hover);
    outline: none;
  }

  .main__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .header__text {
    margin: auto 0 auto 50%;
  }

  main {
    padding: 0px 20px;
  }

  .section {
    margin-block-end: 80px;
  }

  .why {
    display: grid;
    grid-template-columns: 32% 1fr;
    gap: 20px;
  }

  .what__title {
    width: 32%;
  }

  .images {
    margin-block-end: 60px;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
  }

  .gallery__image {
    margin-block-end: 0px;
  }

  .inline {
    grid-column: span 2;
  }

  .block {
    grid-row: span 2;
  }

  .images__title {
    margin-block-end: 20px;
  }

  .footer__title {
    text-shadow: 2px 2px 0px var(--shadow-color);
    padding: 443px 0px;
  }
}

@media (width >= 1024px) {
  .header,
  .footer {
    min-height: 768px;
  }

  .main__title {
    text-shadow: 4px 4px 0px var(--shadow-color);
  }

  .header__theme-menu {
    justify-self: center;
    padding: 0px 0px 275px;
  }

  .header__text {
    margin: auto 0px auto 50%;
  }

  .what__text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .what__card {
    margin-block-end: 0px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .gallery {
    grid-template-rows: 260px 315px 428px;
  }

  .footer__title {
    text-shadow: 2px 2px 0px var(--shadow-color);
    padding: 299px 0px;
  }
}
